* {
    margin: 0;
}

.homeLink {
    height: 5vh;
    width: 5vw;
}

.homeImg {
    height: 70px;
    width: 70px;
}

.leftNav {
    padding-left: 5%;
}

.navBarContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    background-color: #fee123;
    width: 100%;
    z-index: 10;
    height: 10vh;
    border-bottom: 1px solid black;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .navBarContainer {
        height: 8.5vh;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .homeImg {
        height: 17vw;
        width: 17vw;
        padding-left: 25%;
    }
}

.navText {
    padding-left: 10vw;
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

